[submodule "code/vendor/zlib"]
	path = code/vendor/zlib
	url = https://github.com/madler/zlib
[submodule "code/vendor/fmtlib"]
	path = code/vendor/fmtlib
	url = https://github.com/fmtlib/fmt
[submodule "code/vendor/capstone"]
	path = code/vendor/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "code/vendor/xbyak"]
	path = code/vendor/xbyak
	url = https://github.com/herumi/xbyak
[submodule "code/vendor/glfw"]
	path = code/vendor/glfw
	url = https://github.com/glfw/glfw.git
